<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gps808.app"
    android:versionCode="17"
    android:versionName="2.5.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    
    
    
    
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
 
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.gps808.app.utils.XtdApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gps808.app.activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gps808.app.activity.LoginActivity" />
        <activity android:name="com.gps808.app.activity.RegisterActivity" />
        <activity android:name="com.gps808.app.activity.MainActivity" >
        </activity>
        <activity android:name="com.gps808.app.activity.AboutActivity" >
        </activity>
        <activity android:name="com.gps808.app.activity.FeedbackActivity" >
        </activity>
        <activity android:name="com.gps808.app.activity.SearchActivity" >
        </activity>
        <activity android:name="com.gps808.app.activity.AgreementActivity" >
        </activity>
        <activity android:name="com.gps808.app.activity.PoliceSetupActivity" />
        <activity android:name="com.gps808.app.activity.SetupActivity" />
        <activity android:name="com.gps808.app.activity.GoodsGridActivity" />
        <activity android:name="com.gps808.app.activity.HelpActivity" />
        <activity android:name="com.gps808.app.activity.SubmitComActivity" />
        <activity android:name="com.gps808.app.pay.pal.PayDemoActivity" />
        <activity android:name="com.gps808.app.activity.VehiclesActivity" />
        <activity android:name="com.gps808.app.activity.RoutesActivity" />
        <activity
            android:name="com.gps808.app.activity.PolicesActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity android:name="com.gps808.app.activity.DriverActivity" />
        <activity android:name="com.gps808.app.activity.CarDetailsActivity" />
        <activity android:name="com.gps808.app.activity.MyselfActivity" />
        <activity android:name="com.gps808.app.activity.DisplayLineActivity" />
        <activity android:name="com.gps808.app.activity.PoliceTypeActivity" />
        <activity android:name="com.gps808.app.activity.EditDrvierActivity" />
        <activity android:name="com.gps808.app.activity.DisplayPoliceActivity" />
        <activity android:name="com.gps808.app.activity.MessageActivity" />
        <activity android:name="com.gps808.app.activity.ForgetPassActivity" />
        <activity android:name="com.gps808.app.activity.OfflineMapActivity" />
        <activity android:name="com.gps808.app.activity.GuideVoiceActivity" />
        <activity android:name="com.gps808.app.activity.GuideNormalActivity" />
        <activity android:name="com.gps808.app.activity.EdogActivity" />
        <activity android:name="com.gps808.app.activity.ShowMapActivity" />

        <service android:name="com.gps808.app.timeout.TimeoutService" >
        </service>

        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- push富媒体，不使用富媒体推送不需要 -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity" >
        </activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask" >
        </activity>
        <!-- push富媒体结束 -->


        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.gps808.app.push.MyPushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->
        <!-- 定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="48ae76de3f" />
        <meta-data
            android:name="api_key"
            android:value="89W8c1mbtaA2qLGMBXDoTtoU" />
        <!-- 公司测试N8qQtsf1z2QZUtB6ViQegOWH    89W8c1mbtaA2qLGMBXDoTtoU-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="89W8c1mbtaA2qLGMBXDoTtoU" />
        <meta-data
            android:name="TD_APP_ID"
            android:value="3341D151609B67AA2C9BF37AFE9DD279" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="yilutong" />
          <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ccb35622a01ca4ecc12f7d113eb96871"/>
    </application>

</manifest>